include MANIFEST.in
include LICENSE
include pyproject.toml
include CITATION.cff
include README.md
include README.en.md

recursive-include src/echemistpy *.py *.pyi *.tmpl *.css *.csv *.ttf *.txt *.rst *.md *.mplstyle
recursive-include docs *
recursive-include examples *.ipynb
recursive-include tests *.py
recursive-exclude . pycache *.pyc *.pyo .DS_Store